/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.chatbotContainer {
	height: 100%;
	max-height: 97%;
	position: relative;
	border-radius: 5px;
	border: 1px solid var(--background-modifier-border);
	word-break: break-word;
	display: flex;
	flex-direction: column;
	max-width: 800px;
	margin: auto;
}

#header {
	padding: 10px 0px;
}

#chatbotNameHeading {
	color: var(--interactive-accent);
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0px 0px 0px 0px;
	font-size: 1.5rem;
}

#modelName {
	margin: 0;
	text-align: center;
	color: var(--interactive-accent);
	font-size: 0.75rem;
}

#referenceCurrentNote {
	margin: -0.5rem 0 0.5rem 0;
	padding: 0 0 0 0;
	text-align: center;
	color: var(--interactive-accent);
	font-size: 0.65rem;
}

/* messageContainer */

#messageContainer {
	margin-top: 0px;
	flex-grow: 1;
	overflow-y: auto;
	-webkit-touch-callout: default;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	-o-user-select: text;
	user-select: text;
	max-height: calc(100% - 120px);
	word-wrap: break-word;
}

#messageContainer::-webkit-scrollbar {
	width: 5px;
}

#messageContainer::-webkit-scrollbar-thumb {
	border-radius: 5px;
}

#messageContainer::-webkit-scrollbar-track {
	border-radius: 5px;
}

/* User & Bot Messages */

.userName,
.chatbotName {
	display: block;
	font-size: 0.8rem;
	font-weight: bold;
	color: var(--interactive-accent);
	margin: 0;
}

.userMessage,
.botMessage {
	margin: 0;
	padding: 10px 3.5%;
	width: 100%;
	display: inline-block;
}

.userMessage {
	background-color: var(--background-primary);
	position: relative;
}

.userMessage p,
.botMessage p {
	margin: 0;
	line-height: 1.6;
}

.messageBlock {
	margin: 0;
	overflow-wrap: break-word;
	position: relative;
}

/* messageBlock style */

.messageBlock pre {
	position: relative;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	font-size: 14px;
	background-color: #282c34;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	line-height: 1.5;
}

.messageBlock pre code {
	padding: 5px;
	font-weight: bold;
	color: #ced4df;
}

.edit-textarea {
	max-width: 100%;
	min-width: 100%;
	min-height: 2rem;
	width: 100%;
	margin-top: 0.3rem;
}

.textarea-edit-button,
.textarea-cancel-button {
	margin: 0.2rem 0.5rem 0 0;
	font-size: 0.7rem;
	padding: 0 0.6rem;
}

.textarea-edit-button:hover {
	background-color: var(--interactive-accent);
}

.messageBlock pre button.copy-button,
.messageBlock pre button.edit-button {
	padding: 0 4px;
	background-color: transparent !important;
	box-shadow: none !important;
	border: none;
	position: absolute;
	top: 0px;
	right: 0px;
	color: var(--text-muted);
	display: inline-block;
	max-width: 30px;
}

.messageBlock .copy-button:hover,
.messageBlock .edit-button:hover {
	color: white;
}

.userMessageToolBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 1.2rem;
}

.button-container {
	margin: 0;
}

/* Styles for copy button */
.userMessageToolBar button.copy-button,
.userMessageToolBar button.edit-button,
button.regenerate-button {
	padding: 0 3px;
	background-color: transparent !important;
	box-shadow: none !important;
	border: none;
	color: var(--interactive-accent);
	width: 1.2rem;
}

.userMessageToolBar .copy-button:hover,
.userMessageToolBar .edit-button:hover,
.regenerate-button:hover {
	color: var(--text-muted);
}

.botMessageToolBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 1.2rem;
}

.botMessageToolBar button.copy-button {
	padding: 0 3px;
	background-color: transparent !important;
	box-shadow: none !important;
	border: none;
	color: var(--interactive-accent);
	width: 1.2rem;
}

.botMessageToolBar .copy-button:hover {
	color: var(--text-muted);
}

/* Styles for trash button */
.userMessageToolBar button.trash-button {
	padding: 0 3px;
	background-color: transparent !important;
	box-shadow: none !important;
	border: none;
	color: var(--interactive-accent);
	width: 1.2rem;
}

.userMessageToolBar .trash-button:hover {
	color: rgb(188, 35, 35);
}

/* Styles for append button */
.botMessageToolBar button.append-button {
	padding: 0 3px;
	background-color: transparent !important;
	box-shadow: none !important;
	border: none;
	color: var(--interactive-accent);
	width: 1.2rem;
}

.botMessageToolBar .append-button:hover {
	color: var(--text-muted);
}

/* Hide buttons */
.userMessage .edit-button,
.userMessage .regenerate-button,
.userMessage .copy-button,
.userMessage .trash-button,
.botMessage .append-button,
.botMessage .copy-button {
	visibility: hidden;
	opacity: 0;
}

/* Show buttons on hover */
.userMessage:hover .edit-button,
.userMessage:hover .regenerate-button,
.userMessage:hover .copy-button,
.userMessage:hover .trash-button,
.botMessage:hover .append-button,
.botMessage:hover .copy-button {
	visibility: visible;
	opacity: 1;
}

.userMessageToolBar button,
.botMessageToolBar button {
	width: 1.2rem;
}

/* Tables */

.messageBlock table {
	border: 1px solid gray;
	border-collapse: collapse;
	margin: 5px 0px;
}
.messageBlock th,
.messageBlock td {
	border: 1px solid gray;
}

/* chatbox - textarea */

.chatbox {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 13px 3.5%;
	padding: 3px;
	background-color: var(--interactive-accent);
	border-radius: 5px;
}

.chatbox textarea {
	background-color: var(--interactive-accent);
	width: 100%;
	height: 29px;
	max-height: 150px;
	resize: none;
	font-size: 16px;
	overflow-y: auto;
	border-color: var(--interactive-accent);
}

.chatbox textarea:focus {
	outline: none;
	box-shadow: none;
}

.chatbox textarea::placeholder {
	color: white;
	font-weight: 500;
}

.chatbox textarea::selection {
	background: blue !important;
}

.theme-light .chatbox textarea {
	color: white;
}

/* Misc */

.errorMessage {
	color: red;
}

.disabled {
	pointer-events: none;
}

#spacer {
	height: 8vh;
}

#loading {
	color: white;
	background-color: gray;
	padding: 0px 5px 12px 5px;
	border-radius: 5px;
	display: none;
	line-height: 10px;
	font-size: 25px;
	font-weight: bolder;
	margin: 5px 0px;
}

.dotIndicator {
	display: inline-block;
	width: 0.3rem;
	height: 0.3rem;
	background-color: #da2c2c;
	border-radius: 50%;
	margin-left: 0.25rem;
	margin-bottom: 0.1rem;
}

ul#dropdownOptions {
	position: absolute;
	top: 1rem;
	right: 0;
	display: none;
	z-index: 1;
	background-color: #282c34;
	border: 1px solid #ccc;
	border-radius: 0.2rem;
	list-style: none;
	padding: 0;
}

/* If you want to style individual list items within the dropdown */
#dropdownOptions li {
	padding: 0.3rem 1rem;
	font-size: 0.8rem;
}

/* CSS for highlighting <li> elements on hover */
ul#dropdownOptions li:hover {
	background-color: var(--interactive-accent);
	color: white;
	cursor: pointer;
}

.formattedSettings {
	border: 1px solid #ccc;
	background-color: #282c34;
	padding: 10px;
	border-radius: 5px;
	margin: 0.5rem;
	font-size: 0.8rem;
}

.formattedSettings h2 {
	margin: 8px 0 12px 0;
}

.formattedSettings p {
	padding: 0.1rem 0;
}

.formattedSettings code {
	background-color: #4d5158;
	border-radius: 0.2rem;
	padding: 0.16rem;
}
