/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

#bmoContainer {
  height: 100%;
  max-height: 96%;
  position: relative;
  border-radius: 5px;
  border: 1px solid var(--background-modifier-border);
  word-break: break-word;
  display: flex;
  flex-direction: column;
}

#bmoHeading {
    color:  var(--interactive-accent); /* #498867; */
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0px 0px 0px;
    font-size: 300%;
}

#modelName {
    margin-top: 0;
    text-align: center;
    color: var(--interactive-accent); /* #498867; */
    font-size: 16px;
}

#messageContainer {
  flex-grow: 1;
  overflow-y: auto;
  user-select: text;
  max-height: calc(100% - 180px); /* subtract the height of chatbox and 100px */
  word-wrap: break-word;
}



#messageContainer::-webkit-scrollbar {
  width: 5px;
}

#messageContainer::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

#messageContainer::-webkit-scrollbar-track {
  border-radius: 5px;
}


#userName {
  font-size: 12px;
  font-weight: bold;
  color: white;
  margin: 0 10px;
}

.userMessage {
  margin: 0;
  padding: 10px;
  background-color: #262d2d;
  width: 100%;
}

.userMessage p{
  margin: 0 10px;
}

#botName {
  font-size: 12px;
  font-weight: bold;
  color: white;
  margin: 0 10px;
}

.botMessage {
  margin: 0;
  padding: 10px;
  /* background-color: green; */
  width: 100%;
}

#messageParagraph {
  margin: 0 10px;
}

.botMessage p{
  margin: 0;
}


/* TABLES */

.userMessage table {
  border: 1px solid gray;
  border-collapse: collapse;
  margin: 5px 0px;
}
.userMessage th, .userMessage td {
  border: 1px solid gray;
}

.botMessage table {
  border: 1px solid gray;
  border-collapse: collapse;
  margin: 5px 0px;
}
.botMessage th, .botMessage td {
  border: 1px solid gray;
}



#chatbox {
  background-color: var(--interactive-accent); /* #498867; */
  width: calc(100% - 10%);
  /* changed the value of the left property to 50% */
  left: 50%;
  height: 36px;
  min-height: 36px;
  max-height: 15%;
  resize: none;
  position: absolute;
  bottom: 20px;
  /* changed the value of the transform property to translateX(-50%) */
  transform: translateX(-50%);
  border: 1px solid gray;
  line-height: 1.5;
  padding-top: 0.3em;
  padding-bottom: 0.50em;
}

#chatbox input, textarea {
    font-size: 16px;
}

#chatbox::placeholder {
    color: white;
    font-weight: 500;
}

#chatbox:focus {
    outline: none;
    box-shadow: none;
    border-color: gray;
  }

#loading {
  color: white;
  background-color: gray;
  padding: 0px 5px 12px 5px;
  border-radius: 5px;
  display: none;
  line-height: 10px;
  font-size: 25px;
  font-weight: bolder;
  margin: 3px 10px;
}