/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

#bmoContainer {
    height: 100%;
    max-height: 96%;
    position: relative;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0px 5px;
}

#bmoHeading {
    color:  #498867;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0px 0px 0px;
    font-size: 300%;
}

#modelName {
    margin-top: 0;
    text-align: center;
    color:  #498867;
    font-size: 16px;
}

#messageContainer {
  height: 73%;
  overflow-y: auto;
}

#messageContainer::-webkit-scrollbar {
  width: 5px;
}

#messageContainer::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#messageContainer::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

#messageContainer p{
    display: none;
    float: right;
    background-color: #498867;
    color: white;
    padding: 5px 10px;
    max-width: 100%;
    margin: 0;
}

#bot {
  margin: 0;
  background-color: #345e48;
}
  
  /* .bmoStyle {
    display: none;
    float: left;
    background-color: #498867;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 20px;
    max-width: 60%;
    clear: both;
  } */
  

#chatbox {
    background-color: #498867;
    width: 90%;
    height: 36px;
    min-height: 36px;
    max-height: 15%;
    resize: none;
    position: absolute;
    bottom: 20px;
    left: 5%;
    border: 1px solid gray;
    line-height: 1.5;
    padding-top: 0.3em;
    padding-bottom: 0.50em;
}

#chatbox input, textarea {
    font-size: 16px;
}

#chatbox::placeholder {
    color: rgb(199, 199, 199);
    font-weight: 500;
  }

#chatbox:focus {
    outline: none;
    box-shadow: none;
    border-color: gray;
  }

